<h1>Editing puzzle</h1>

<% form_for(@puzzle) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :facebookID %><br />
    <%= f.text_field :facebookID %>
  </p>

  <p>
    <%= f.label :product_identifier %><br />
    <%= f.text_field :product_identifier %>
  </p>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @puzzle %> |
<%= link_to 'Back', puzzles_path %>