<h1>Listing puzzles</h1>

<table>
  <tr>
    <th>Name</th>
	<th>Product Identifier</th>
    <th>Icon</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

<% @puzzles.each do |puzzle| %>
  <tr>
    <td><%=h puzzle.name %></td>
	<td><%=h puzzle.product_identifier %></td>
    <td><%=h puzzle.icon %></td>
    <td><%=h puzzle.price %></td>
    <td><%=h puzzle.description %></td>
    <td><%= link_to 'Show', puzzle %></td>
    <td><%= link_to 'Edit', edit_puzzle_path(puzzle) %></td>
    <td><%= button_to 'Destroy', puzzle, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New puzzle', new_puzzle_path %>