<p>
  <b>FacebookID:</b>
  <%= @puzzle.facebookID %>
</p>

<p>
   <b>Product Identifier:</b>
  <%= @puzzle.product_identifier %>
</p>

<p>
  <b>Name:</b>
  <%=h @puzzle.name %>
</p>

<p>
  <b>Icon:</b>
  <%=h @puzzle.icon %>
</p>

<p>
  <b>Price:</b>
  <%=h @puzzle.price %>
</p>

<p>
  <b>Description:</b>
  <%=h @puzzle.description %>
</p>

<%if @puzzle.questions.count > 0%>

<table>
  <tr>
    <th>Question</th>
    <th>Answer1</th>
    <th>Answer2</th>
    <th>Answer3</th>
    <th>Answer4</th>
    <th>Correct answer</th>
    <th>Puzzle</th>
    <th>Difficulty</th>
  </tr>

<% @puzzle.questions.each do |question| %>
  <tr>
    <td><%=h question.question %></td>
    <td><%=h question.answer1 %></td>
    <td><%=h question.answer2 %></td>
    <td><%=h question.answer3 %></td>
    <td><%=h question.answer4 %></td>
    <td><%=h question.correct_answer %></td>
    <td><%=h question.puzzle.name %></td>
    <td><%=h question.difficulty %></td>
	<td><%= link_to 'Show', [@puzzle, question] %></td>
    <td><%= link_to 'Edit', edit_puzzle_question_path(@puzzle, question) %></td>
    <td><%= link_to 'Destroy', [@puzzle, question], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%end%>

<br />

<%= link_to 'Edit', edit_puzzle_path(@puzzle) %> |
<%= link_to 'Back', puzzles_path %> |
<%= link_to 'New question', new_puzzle_question_path(@puzzle) %>

<%=  form_tag({:action  => :upload}, :multipart  => true) do %>
  <%= file_field_tag 'dump' %>
<%=  submit_tag("Upload") %>
<% end %>
